<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="email"
        name="email"
        ngModel
        placeholder="E-mail"
        #emailInput="ngModel"
        required
        email>
      <mat-error *ngIf="emailInput.invalid">Please enter an valid E-mail</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        name="password"
        ngModel
        placeholder="Password"
        #passwordInput="ngModel"
        required
        password>
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid Password</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit"
      *ngIf="!isLoading">Signup
    </button>
  </form>
</mat-card>
<hr>
